@charset "UTF-8";

a:link {
  color: #0000ff
}
a:visited {
  color: #000000
}
a:active {
  color: #ff8000 
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
}
  
 
