#calcDiv {
	position: relative;
	width: 50%;
	height: 250px;
	border: solid black 1px;
}

#argSelector {
	position: absolute;
	left: 15%;
	top: 13%;
}

#dataFields {
	position: absolute;
	right: 5%;
}

#calculator {
	position: absolute;
	right: 5%;
	top: 35%;
}

td input {
	width: 30px;
	text-align: center;
}

#results {
	position: absolute;
	left: 5%;
	bottom: 23%;
}
